body
{
background-image: url("https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg");
background-repeat: no-repeat;
background-size: 100%;
}
input{
  background:transparent;
  margin-left: 500px;
  margin-top: 500px;
  margin-right: 100px;
 
}
button{
  background-color: black;
  color: aliceblue;
}
